/* <!--
Stacy Vasquez's Assignment 2 products style page 12/15/2020
A1 - style referenced from SmartPhoneProducts2 & Took from CSS Styling Website 
A2 - copied Stacy Vasquez's A1
The purpose is to have the products display page look similar to the other pages to give a cohesive feel throughout the e-commerce website
--> /*


/* general styling */

html {
    background-color: rgb(234, 247, 255);
}


/*headings*/

h1 {
    font-family: 'Stan', serif;
    text-align: center;
    /* Title Page */
    font-size: 50px;
    color: black
}

h2 {
    font-family: 'Stan', serif;
    text-align: center;
    /* Product Names */
    font-size: 30px;
}

main {
    display: -webkit-inline-box;
    color: black;
    font-family: 'Stan', serif;
}

footer {
    text-align: center;
    font-size: 50px;
    color: black
}


/*image */

img {
    width: 200px;
    height: 200px;
    position: center;
    border-radius: 5px;
}

input[type=submit] {
    width: 20em;
    color: black;
}