/* style referenced from SmartPhoneProducts2 */


/* general styling */

html {
    font-family: 'Stan', serif;
    background-image: url(./images/BackgroundSpa.jpg);
    background-position: bottom;
    background-size: initial;
    font-size: 40px;
    text-align: center;
    /* Product Images, Price, and Quantity */
}


/*headings*/

h1 {
    font-family: 'Stan', serif;
    text-align: left;
    /* Title Page */
    font-size: 60px;
    color: white;
}

h2 {
    font-family: 'Stan', serif;
    text-align: center;
    /* Product Names */
    font-size: 40px;
}

div {
    border: 10px;
    border-color: whitesmoke;
    display: flex;
    text-align: center;
}

main {
    display: -ms-grid;
    flex-flow: fit;
    justify-content: initial;
    color: white;
    font-family: 'Stan', serif;
}

footer {
    text-align: left;
    font-size: 1px;
    color: white;
}


/*image */

img {
    width: 300px;
    height: 300px;
    position: left;
    border-radius: 5px;
}

input[type=submit] {
    width: 12em;
    color: black;
}

.center {
    display: block;
    width: 30%;
    border-radius: 8px;
    border: 10px white;
}


/* Took from CSS Styling Website /*
// took from friends who took from CSS Styling We because i didn't like the layout. W3 kept giving HTML so i just altered hers a bunch//