h1, h2{
    font-family: 'Oswald', sans;
}

ul{
    list-style-type: none;
    margin: 0;
}

li {
    display: inline;
}

#navbar a {
    margin-left: 70px;
    margin-right: 70px;
}

body {
    color: darkblue;
    margin: 10px 50px 10px 50px;
    width: 950px;
    background-color: ivory;
}

img{
    float: left;
    margin: 10px;

}

.left {
    float: left;
    width: 300px;
    padding: 1em;
}

.right {
    float: right;
    width: 300px;
    padding: 1em;
}

.center {
    margin-left: 0;
    margin-right: 0;
    padding: 1em;
}